Makefile.custom
*.so
*.o
*.fatbin
*.gfatbin
utils/*
test/12/test_arrow_cpu_1.data
test/12/test_arrow_cpu_2.data
test/12/test_arrow_write_ft.arrow
test/12/test_arrow_write_ftable_p0.arrow
test/12/test_arrow_write_ftable_p1.arrow
test/12/test_arrow_write_ftable_p2.arrow
test/12/results
test/sql/arrow_cpu.sql
test/sql/arrow_python.sql
test/sql/arrow_utils.sql
test/sql/arrow_write.sql
test/sql/dfunc_mbtext.sql
test/12/test_pg2arrow_tt1.arrow
test/12/test_pg2arrow_tt2.arrow
test/12/expected/arrow_cpu.out
test/12/expected/arrow_python.out
test/12/expected/arrow_utils.out
test/12/expected/arrow_write.out
test/12/expected/dfunc_mbtext.out
